<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&larr; P치gina Anterior</a>
    {{/if}}
    
    <span class="page-number">P치gina {{page}} de {{pages}}</span>
    
    {{#if next}}
    	<a class="older-posts" href="{{page_url next}}">Pr칩xima P치gina &rarr;</a>
    {{/if}}
</nav>