a:hover {
    color: #009bc5 !important;
}

.nav {
    background: #009bc5;
}

.nav-closed .menu-button:hover {
    color: #009bc5 !important;
}

.nav-closed .no-cover .menu-button:hover {
    border-color: #009bc5;
    color: #009bc5 !important;
}

.nav-opened .menu-button {
    padding: 0 12px;
    background: #009bc5;
    border-color: #009bc5;
}

.nav a:link,
.nav a:visited,
.nav-close {
    color: #fff !important;
}

.post-image {
	height: 230px;
	margin-bottom: 5px;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center center;
}

.post-excerpt p {
    text-align: justify;
}

.post-content p {
    text-align: justify;
}

.post-content p a {
	color: #009bc5;
}

.no-cover .page-title {
    color: #e84429 !important;
}

h1, h2, h3,
h4, h5, h6 {
    color: #e84429;
}

.post-content h2,
.post-content h3,
.post-content h4, 
.post-content h5, 
.post-content h6 {
    color: #3A4145;
}

.post-title a {
    color: #e84429 !important;
}

.post-footer h4 a {
    color: #e84429 !important;
}

.post-footer h4 a:hover {
    color: #009bc5 !important;
}

.read-more {
	color: #009bc5;
}

.post-footer .share a {
    font-size: 2.618rem;
}

.post-footer .share .icon-twitter:hover {
    color: #55acee !important;
}
.post-footer .share .icon-facebook:hover {
    color: #3b5998 !important;
}
.post-footer .share .icon-google-plus:hover {
    color: #dd4b39 !important;
}

.post-footer blockquote {
    border-left: #e84429 0.4em solid;
}

.post-footer blockquote p {
    font-size: 1.8rem !important;
    text-align: justify;
}