.nav {
	background: #e84429;
}

.nav-closed .menu-button:hover {
    color: #009bc5;
}

.nav-closed .no-cover .menu-button:hover {
    border-color: #009bc5;
    color: #009bc5;
}

.nav-opened .menu-button {
    padding: 0 12px;
    background: #009bc5;
    border-color: #009bc5;
}

.nav a:link,
.nav a:visited {
    color: #dcdcdc;
}

.post-image {
	height: 230px;
	margin-bottom: 5px;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center center;
}

.post-excerpt p {
    text-align: justify;
}

.post-content p {
    text-align: justify;
}

.post-content p a {
	color: #009bc5;
}

.read-more {
	color: #009bc5;
}

.post-footer .share a {
    font-size: 2.618rem;
}